<ion-view title="Additem" id="page26">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="additem-card24">
      <form id="additem-form23" class="list">
        <label class="item item-input" id="additem-input31">
          <span class="input-label">Item</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <form id="additem-form24" class="list">
        <label class="item item-input" id="additem-input32">
          <span class="input-label">Item</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <button id="additem-button31" class="button button-dark button-block">Add Item</button>
    </div>
    <a ui-sref="menu.cartIngredientsADD()" id="additem-button33" class="button button-positive button-block">Add to cart</a>
  </ion-content>
</ion-view>