<ion-view title="Add Post" id="page31">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="addPost-card26">
      <ion-item class="item-avatar" id="addPost-list-item111">
        <h2>Ben</h2>
      </ion-item>
      <form id="addPost-form21" class="list">
        <label class="item item-select" id="addPost-select5">
          <span class="input-label">Expire</span>
          <select>
            <option>5 Days</option>
            <option>10 Days</option>
            <option>20 Days</option>
            <option>30 Days</option>
          </select>
        </label>
      </form>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <form id="addPost-form32" class="list">
        <label class="item item-input" id="addPost-textarea9">
          <span class="input-label"></span><textarea placeholder="Input Details for your product..."></textarea></label>
      </form>
    </div>
    <a ui-sref="menu.community()" id="addPost-button26" class="button button-positive button-block"> Post</a>
  </ion-content>
</ion-view>