<ion-view title="cart ingredients" id="page25">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="cartIngredients-form19" class="list">
      <h1 id="cartIngredients-heading6" style="color:#000000;">Today</h1>
      <label class="item item-input" id="cartIngredients-input20">
        <span class="input-label">Vegetable Oil </span>
        <input type="number" placeholder="2 Quarts">
      </label>
      <label class="item item-input" id="cartIngredients-input21">
        <span class="input-label">Fillet codsalt</span>
        <input type="number" placeholder="8(4 Ounce)">
      </label>
      <label class="item item-input" id="cartIngredients-input22">
        <span class="input-label">All purpose flour</span>
        <input type="number" placeholder="1 Cup">
      </label>
      <label class="item item-input" id="cartIngredients-input23">
        <span class="input-label">Garlic power</span>
        <input type="number" placeholder="2 Tablespoon">
      </label>
      <label class="item item-input" id="cartIngredients-input24">
        <span class="input-label">Paprika</span>
        <input type="number" placeholder="2 Tablespoon">
      </label>
      <label class="item item-input" id="cartIngredients-input25">
        <span class="input-label">Salt</span>
        <input type="number" placeholder="2 Teaspoon">
      </label>
      <label class="item item-input" id="cartIngredients-input26">
        <span class="input-label">Ground pepper</span>
        <input type="number" placeholder="2 Teaspoon">
      </label>
      <label class="item item-input" id="cartIngredients-input27">
        <span class="input-label">Eggs</span>
        <input type="number" placeholder="1">
      </label>
      <label class="item item-input" id="cartIngredients-input28">
        <span class="input-label">Beer</span>
        <input type="number" placeholder="1(12 fluid ounce)">
      </label>
      <a ui-sref="menu.grocerylist()" id="cartIngredients-button29" class="button button-dark button-block">Done</a>
    </form>
  </ion-content>
</ion-view>