<ion-view title="cart ingredients ADD" id="page28">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="cartIngredientsADD-form25" class="list">
      <h1 id="cartIngredientsADD-heading8" style="color:#000000;">Today</h1>
      <label class="item item-input" id="cartIngredientsADD-input33">
        <span class="input-label">Vegetable Oil </span>
        <input type="number" placeholder="2 Quarts">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input34">
        <span class="input-label">Fillet codsalt</span>
        <input type="number" placeholder="8(4 Ounce)">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input35">
        <span class="input-label">All purpose flour</span>
        <input type="number" placeholder="1 Cup">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input36">
        <span class="input-label">Garlic power</span>
        <input type="number" placeholder="2 Tablespoon">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input37">
        <span class="input-label">Paprika</span>
        <input type="number" placeholder="2 Tablespoon">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input38">
        <span class="input-label">Salt</span>
        <input type="number" placeholder="2 Teaspoon">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input39">
        <span class="input-label">Ground pepper</span>
        <input type="number" placeholder="2 Teaspoon">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input40">
        <span class="input-label">Eggs</span>
        <input type="number" placeholder="1">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input41">
        <span class="input-label">Beer</span>
        <input type="number" placeholder="1(12 fluid ounce)">
      </label>
      <label class="item item-input" id="cartIngredientsADD-input42">
        <span class="input-label">Banana</span>
        <input type="number" placeholder="">
      </label>
      <a ui-sref="menu.grocerylist()" id="cartIngredientsADD-button35" class="button button-dark button-block">Done</a>
    </form>
  </ion-content>
</ion-view>