<ion-view title="Comment" id="page29">
  <ion-content padding="true" class="has-header">
    <form id="comment-form27" class="list">
      <label class="item item-input" id="comment-input44">
        <input type="text" placeholder="Comment..">
      </label>
      <button id="comment-button34" class="button button-positive button-block">Post</button>
      <ion-item class="item-avatar" id="comment-list-item130">
        <img src="img/lWnqj3b3QX3dzG7dJikA_psd-cute-cartoon-girl-hand-drawn-cartoon-character-heypik-6DU45JY.jpg">
        <h2>Susan</h2>
        <p>Can I buy the apples?</p>
      </ion-item>
      <ion-item class="item-avatar" id="comment-list-item131">
        <img src="img/9vRygcNBRyWj67vny9xb_pngtree-cartoon-hand-drawn-cute-glasses-male-avatar-paintedlovelyglassesboyavatar-png-image_570059.jpg">
        <h2>Aaron</h2>
        <p>Hi, I would like to have the apples.</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>