<ion-view title="Community" id="page27">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add"> Add Post</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="community-form15" class="list">
      <label class="item item-input" id="community-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Food">
      </label>
    </form>
    <a ui-sref="menu.addPost()" id="community-button18" style="font-weight:500;" class="button button-positive button-block icon-left ion-android-add"> Create Post</a>
    <div class="list card" id="community-card21">
      <ion-item class="item-avatar" id="community-list-item103">
        <img src="img/TMYvUFGATnOnGe0CpnmI_placeholder-woman.jpg">
        <h2>Amy</h2>
        <p>Expires in 5 Days</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/ZAv9SZLRvuGf2HE9xKvg_1508_10-Strange-Side-Effects-Of-Consuming-Apple.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="menu.details()" id="community-button17" class="button button-dark button-small button-block">View Details...</a>
      <div class="item item-body" id="community-list-item-container7">
        <div id="community-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Fresh Apples</p>

          <p style="color:#000000;">Bought From: Kovan Wet Market</p>
        </div>
      </div>
      <a ui-sref="menu.comment()" id="community-button16" class="button button-dark button-small button-block">Comment</a>
    </div>
    <div class="list card" id="community-card22">
      <ion-item class="item-avatar" id="community-list-item106">
        <img src="img/yt3YOsvASCGs4SB4k9f9_download.png">
        <h2>Mary</h2>
        <p>Expires in 3 Days</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/4djHVFoS6mwUAoLlfY88_Orange-Nutrition_FB.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="community-button19" class="button button-dark button-small button-block">View Details...</button>
      <div class="item item-body" id="community-list-item-container8">
        <div id="community-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Fresh Oranges</p>

          <p style="color:#000000;">Bought From: Sengkang Wet Market</p>
        </div>
      </div>
      <button id="community-button20" class="button button-dark button-small button-block">Comment</button>
    </div>
    <div class="list card" id="community-card25">
      <ion-item class="item-avatar" id="community-list-item107">
        <img src="img/vf4Kb5ZyTayeTWb3XTr9_cute-children-face-happy-boy-helmet-portrait-white-background-male-avatar-flat-cute-children-face-happy-boy-helmet-portrait-119121167.jpg">
        <h2>Ben</h2>
        <p>Expires in 10 Days</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/ERiSvKUQSGiRd0P7yfJL_images.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="community-button21" class="button button-dark button-small button-block">View Details...</button>
      <div class="item item-body" id="community-list-item-container9">
        <div id="community-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Onions</p>

          <p style="color:#000000;">Bought From: Hougang Wet Market</p>
        </div>
      </div>
      <button id="community-button23" class="button button-dark button-small button-block">Comment</button>
    </div>
  </ion-content>
</ion-view>