<ion-view title="Confirmation" id="page17">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="confirmation-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Congratulations! You have successfully reedem 1 Koufu voucher. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <div>
      <img src="img/U0J153CiTJuHmdG0UlWZ_default_qrcode.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="confirmation-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:14px;">Continue to use our app to reedem more attractive rewards! Thank you!</p>
    </div>
  </ion-content>
</ion-view>