<ion-view title="Details" id="page30">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="details-card27">
      <ion-item class="item-avatar" id="details-list-item134">
        <img src="img/049NhBq8QbGbHNCxh5Nw_placeholder-woman.jpg">
        <h2>Amy</h2>
        <p>Expires in 5 Days.</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/yaiAJaO2Qfu9thlNvW6T_1508_10-Strange-Side-Effects-Of-Consuming-Apple.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="details-list-item-container14">
        <div id="details-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Posted on: 20 May 2019</p>

          <p style="color:#000000;">Fresh Apples</p>

          <p style="color:#000000;">Bought on: 18 May 2019</p>

          <p style="color:#000000;">Bought From: Kovan Wet Market</p>

          <p style="color:#000000;">Fresh until 1 week from buying.</p>
        </div>
      </div>
      <a ui-sref="menu.comment()" id="details-button36" class="button button-positive button-block">Comment</a>
    </div>
  </ion-content>
</ion-view>