<ion-view title="Food Rewards" id="page16">
  <ion-content padding="true" class="has-header">
    <ion-list id="foodRewards-list15">
      <ion-item class="item-thumbnail-left" id="foodRewards-list-item84" ui-sref="menu.koufu()">
        <img src="img/B5SjnNufTf2Zwaf3mW4M_koufu.png">
        <h2>$5 off at Koufu</h2>
        <p>100 points to get $5 off</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="foodRewards-list-item85">
        <img src="img/xyKz1jSSg8tmP7riT1RA_yakun.png">
        <h2>$5 off at Ya Kun Kaya Toast</h2>
        <p>100 points to get $5 off</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="foodRewards-list-item86">
        <img src="img/DyU90WDaRACLSvs2aOJJ_toast.jpg">
        <h2>$5 off at Toast Box</h2>
        <p>100 points to get $5 off</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="foodRewards-list-item87">
        <img src="img/ueySDahVTleXSgYCU6zJ_putien.png">
        <h2>$10 off at PuTien</h2>
        <p>150 points to get $10 off</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>