<ion-view title="Home" id="page20">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="home-list16">
      <ion-item class="item-thumbnail-left dark" id="home-list-item112">
        <img src="img/JJKOcHa3QdykYwBqF7qX_Geffen-Gourmet-Feature.jpg">
        <h2dark>Eastern cuisine</h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="home-list-item92">
        <img src="img/C1TGrh3Tfiv3iEnTIBHQ_Indo-western-Cuisine.jpg">
        <h2dark>Western cuisine</h2dark>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right assertive" id="home-list-item93" ui-sref="menu.westernCuisine()">
        <i class="icon ion-android-arrow-forward"></i>1. Fish n Chips
        <i class="icon ion-heart"></i>
      </ion-item>
      <ion-item class="item-icon-left" id="home-list-item94">
        <i class="icon ion-android-arrow-forward"></i>2. Chicken Wings</ion-item>
      <ion-item class="item-icon-left" id="home-list-item95">
        <i class="icon ion-android-arrow-forward"></i>3. Hamburger</ion-item>
      <ion-item class="item-icon-left" id="home-list-item96">
        <i class="icon ion-android-arrow-forward"></i>4. Spaghetti</ion-item>
      <ion-item class="item-icon-left" id="home-list-item97">
        <i class="icon ion-android-arrow-forward"></i>5. Cheese Balls</ion-item>
    </ion-list>
    <ion-list id="home-list21">
      <ion-item class="item-thumbnail-left dark" id="home-list-item113">
        <img src="img/Fvl4xZtASJeqUGJ7PQio_osechi.png">
        <h2dark>Japanese cuisine</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <ion-list id="home-list24">
      <ion-item class="item-icon-left dark" id="home-list-item99" ui-sref="menu.selfCreationRecipe()">
        <i class="icon ion-ios-color-wand"></i>Create Own Recipe</ion-item>
    </ion-list>
  </ion-content>
</ion-view>