<ion-view title="import" id="page22">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="import-form17" class="list">
      <h1 id="import-heading5" style="color:#000000;">Today</h1>
      <label class="item item-input" id="import-input12">
        <span class="input-label">Vegetable Oil </span>
        <input type="number" placeholder="2 Quarts">
      </label>
      <label class="item item-input" id="import-input13">
        <span class="input-label">Fillet codsalt</span>
        <input type="number" placeholder="8(4 Ounce)">
      </label>
      <label class="item item-input" id="import-input15">
        <span class="input-label">All purpose flour</span>
        <input type="number" placeholder="1 Cup">
      </label>
      <label class="item item-input" id="import-input10">
        <span class="input-label">Garlic power</span>
        <input type="number" placeholder="2 Tablespoon">
      </label>
      <label class="item item-input" id="import-input11">
        <span class="input-label">Paprika</span>
        <input type="number" placeholder="2 Tablespoon">
      </label>
      <label class="item item-input" id="import-input16">
        <span class="input-label">Salt</span>
        <input type="number" placeholder="2 Teaspoon">
      </label>
      <label class="item item-input" id="import-input17">
        <span class="input-label">Ground pepper</span>
        <input type="number" placeholder="2 Teaspoon">
      </label>
      <label class="item item-input" id="import-input18">
        <span class="input-label">Eggs</span>
        <input type="number" placeholder="1">
      </label>
      <label class="item item-input" id="import-input19">
        <span class="input-label">Beer</span>
        <input type="number" placeholder="1(12 fluid ounce)">
      </label>
      <a ui-sref="menu.cart()" id="import-button28" class="button button-dark button-block">Add to cart</a>
    </form>
  </ion-content>
</ion-view>