<ion-view title="Jackie's Review" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="jackieSReview-list12">
      <ion-item class="item-icon-left assertive" id="jackieSReview-list-item71" ui-sref="menu.reviewsOnMarkets()">
        <i class="icon ion-heart"></i>Favourite</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <img src="img/aSoYN3yZS2i4eZFimJ71_wet-market-.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="jackieSReview-list10">
      <ion-item class="item-avatar" id="jackieSReview-list-item68" ui-sref="menu.jackieSReview()">
        <img src="img/nCsxI9R1SiW2NdZCgHjH_220px-Jackie_Chan_July_2016.jpg">
        <h2>Best market in Hougang</h2>
        <p>look ah kit Pte Ltd ★★★★★</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="jackieSReview-list7">
      <ion-item id="jackieSReview-list-item72">hougang str 21 singapore 530211</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="jackieSReview-list11">
      <div class="item item-body" id="jackieSReview-list-item-container1">
        <div id="jackieSReview-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">MY Review</p>

          <p style="color:#000000;">this is the best market place in hougang by far, the ingredients are always in stock and always fresh. the vendor are so nice to me and always help me, its a very very good store. I recommend those who live in hougang area to try out this market.
            :D</p>
        </div>
      </div>
    </ion-list>
    <h3 id="jackieSReview-heading3" style="color:#9DAE02;text-align:center;">Rate Jackie's market</h3>
    <button id="jackieSReview-button4" style="font-weight:600;color:#FFEE00;" class="button button-dark button-block">★★★★★</button>
    <button id="jackieSReview-button8" style="font-weight:600;color:#FFEE00;" class="button button-dark button-block">★★★★</button>
    <button id="jackieSReview-button9" style="font-weight:600;color:#FFEE00;" class="button button-dark button-block">★★★</button>
    <button id="jackieSReview-button7" style="font-weight:600;color:#FFEE00;" class="button button-dark button-block">★★</button>
    <button id="jackieSReview-button6" style="font-weight:600;color:#FFEE00;" class="button button-dark button-block">★</button>
  </ion-content>
</ion-view>