<ion-view title="JazFishandchip" id="page8" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="jazFishandchip-form4" class="list">
      <div>
        <img src="img/nnXbv5GSgzvpOMm7FFAg_fish.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <form id="jazFishandchip-form18" class="list">
      <label class="item item-input h1" id="jazFishandchip-textarea4">
        <span class="input-label">Ingredients</span><textarea placeholder=""></textarea></label>
      <h1 id="jazFishandchip-heading4" style="color:#000000;">Fish &amp; Chip</h1>
    </form>
    <div id="jazFishandchip-markdown7" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2 quarts vegetable oil for frying</p>

      <p style="color:#000000;">8 (4 ounce) fillets codsalt and pepper to taste</p>

      <p style="color:#000000;">1 cup all-purpose flour</p>

      <p style="color:#000000;">2 tablespoons garlic powder</p>

      <p style="color:#000000;">2 tablespoons paprika</p>

      <p style="color:#000000;">2 teaspoons salt</p>

      <p style="color:#000000;">2 teaspoons ground black pepper</p>

      <p style="color:#000000;">1 egg, beaten</p>

      <p style="color:#000000;">1 (12 fluid ounce) can or bottle beer</p>
    </div>
    <a ui-sref="menu.import()" id="jazFishandchip-button27" class="button button-dark button-block">Import</a>
  </ion-content>
</ion-view>