<ion-view title="Koufu" id="page34">
  <ion-content padding="true" class="has-header">
    <div id="koufu-markdown23" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Current points: 110pts</p>
    </div>
    <div>
      <img src="img/MTDY3btIRy7HtfkiWa1Q_koufu.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="koufu-form28" class="list">
      <label class="item item-input" id="koufu-input43">
        <span class="input-label">Quantity:</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="koufu-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Total Points: 100pts</p>
    </div>
    <a ui-sref="menu.confirmation()" id="koufu-button39" class="button button-positive button-block">Confirm!</a>
  </ion-content>
</ion-view>