<ion-view title="My Rewards" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="myRewards-list9">
      <ion-item class="item-avatar" id="myRewards-list-item77" ui-sref="menu.rewards()">
        <img src="img/53JD726kTm6qL4rWRALP_avatargirl.png">
        <h2>Reward Points</h2>
        <p>100pts</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <ion-list id="myRewards-list13">
      <ion-item class="item-divider" id="myRewards-list-item-divider12"> Rewards Redemption</ion-item>
      <ion-item class="item-thumbnail-left" id="myRewards-list-item78" ui-sref="menu.foodRewards()">
        <img src="img/JMHPWpFQNygVYOWJwVjA_Healthy_food_2-512.png">
        <h2>Food Rewards</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="myRewards-list-item79" ui-sref="shoppingRewards()">
        <img src="img/s2pVfGNTS0SMMeB2yNCU_shopping.png">
        <h2>Shopping Rewards</h2>
      </ion-item>
      <ion-item class="item-divider" id="myRewards-list-item-divider13"> Terms and Conditions</ion-item>
      <div class="item item-body" id="myRewards-list-item-container4">
        <div id="myRewards-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:13px;">Expires in 6 months from date of issue. </p>

          <p style="color:#000000;font-size:13px;">Rewards will be added to 'My Rewards Points' page and can be used before the date of expiry.</p>

          <p style="color:#000000;font-size:13px;">Rewards will automatically remove from the page after used.</p>
        </div>
      </div>
      <ion-item class="item-divider" id="myRewards-list-item-divider14"> Reward Redemption</ion-item>
      <div class="item item-body" id="myRewards-list-item-container5">
        <div id="myRewards-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">How to use the reward?</p>

          <p style="color:#000000;">1.) There will be a QR code given when you successfully reedem a reward.</p>

          <p style="color:#000000;">2.) Show the QR code when purchasing at the cashier counters.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>