<ion-view title="owngrocery" id="page24">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="owngrocery-card23">
      <form id="owngrocery-form22" class="list">
        <label class="item item-input" id="owngrocery-input29">
          <span class="input-label">item</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <a ui-sref="additem()" id="owngrocery-button30" class="button button-dark button-block">Add Item</a>
    </div>
    <a ui-sref="menu.cartIngredientsADD()" id="owngrocery-button32" class="button button-positive button-block">Add to Cart</a>
  </ion-content>
</ion-view>