<ion-view title="Recipejaz" id="page7" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="recipejaz-list6">
      <ion-item class="item-thumbnail-left dark" id="recipejaz-list-item6">
        <img src="img/C1TGrh3Tfiv3iEnTIBHQ_Indo-western-Cuisine.jpg">
        <h2dark>Western cuisine</h2dark>
      </ion-item>
      <ion-item class="item-icon-left" id="recipejaz-list-item40" ui-sref="menu.jazFishandchip()">
        <i class="icon ion-android-arrow-forward"></i>1. Fish n Chips</ion-item>
      <ion-item class="item-icon-left" id="recipejaz-list-item41">
        <i class="icon ion-android-arrow-forward"></i>2. Chicken Wings</ion-item>
      <ion-item class="item-icon-left" id="recipejaz-list-item42">
        <i class="icon ion-android-arrow-forward"></i>3. Hamburger</ion-item>
      <ion-item class="item-icon-left" id="recipejaz-list-item43">
        <i class="icon ion-android-arrow-forward"></i>4. Spaghetti</ion-item>
      <ion-item class="item-icon-left" id="recipejaz-list-item44">
        <i class="icon ion-android-arrow-forward"></i>5. Cheese Balls</ion-item>
    </ion-list>
  </ion-content>
</ion-view>