<ion-view title="Reviews on Market" id="page10">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-plus-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="reviewsOnMarket-form8" class="list">
      <label class="item item-input" id="reviewsOnMarket-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search your market">
      </label>
      <a ui-sref="menu.shareYourMarket()" id="reviewsOnMarket-button10" class="button button-balanced button-block">Add your own market!</a>
      <div class="spacer" style="height: 20px;"></div>
      <ion-item class="item-divider" id="reviewsOnMarket-list-item-divider1"> Most Popular Market</ion-item>
      <div>
        <img src="img/RcdEjYhzRiKHYISAnDik_Fish-market-1024x768.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-avatar" id="reviewsOnMarket-list-item66">
        <img src="img/DGrfxcExSsiDzlUeHJ89_MV5BNDcwMDc0ODAzOF5BMl5BanBnXkFtZTgwNTY2OTI1MDE._V1_.jpg">
        <h2>Best market in Potong pasir</h2>
        <p>Ma Kit Pte Ltd ★★★★★</p>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <div>
        <a style="display:block;" ui-sref="menu.jackieSReview()">
          <img src="img/61gQkduwQ3aAiLGBudfL_wet-market-.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <ion-item class="item-avatar" id="reviewsOnMarket-list-item65" ui-sref="menu.jackieSReview()">
        <img src="img/nCsxI9R1SiW2NdZCgHjH_220px-Jackie_Chan_July_2016.jpg">
        <h2>Best market in Hougang</h2>
        <p>look ah kit Pte Ltd ★★★★★</p>
      </ion-item>
      <ion-item class="item-divider" id="reviewsOnMarket-list-item-divider2"> underrated market</ion-item>
      <div>
        <img src="img/Rsv5bTYTsmpTcYJVPzzl_WET-MARKET-SINGAPORE-TEKKA-MARKET.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-avatar" id="reviewsOnMarket-list-item67">
        <img src="img/HckhTP7TRiq3pNIDJlgq_donnie-yen-ip-man-3.jpeg">
        <h2>Underrated Market Ang Mo Kio</h2>
        <p>Zac efree ★★</p>
      </ion-item>
      <ion-item class="item-divider" id="reviewsOnMarket-list-item-divider3"> Closest Market</ion-item>
      <ion-item class="item-divider" id="reviewsOnMarket-list-item-divider4"> Cheapest Market</ion-item>
      <ion-item class="item-divider" id="reviewsOnMarket-list-item-divider5"> Random Market</ion-item>
    </form>
  </ion-content>
</ion-view>