<ion-view title="Rewards" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/M9xecku8RomkhOc4Ii06_voucher.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="rewards-list20">
      <ion-item class="item-icon-left" id="rewards-list-item104" ui-sref="menu.confirmation()">
        <i class="icon ion-android-star"></i>Koufu Reward added</ion-item>
    </ion-list>
    <div id="rewards-markdown14" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <a ui-sref="menu.myRewards()" id="rewards-button22" class="button button-positive button-block">Shop for more rewards!</a>
    <div id="rewards-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>