<ion-view title="Save Page" id="page36">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-happy"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="savePage-list19">
      <ion-item class="item-icon-right" id="savePage-list-item115" ui-sref="menu.wantonNoodles()">Wanton Noodles
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="savePage-list-item116">Meatballs
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="savePage-list-item117">Nuggets
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="savePage-list-item118">Chicken Rice
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="savePage-list-item119">Spaghetti
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="savePage-list-item120">Chicken Soup
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <ion-list id="savePage-list25">
      <ion-item class="item-icon-left item-icon-right" id="savePage-list-item121">
        <i class="icon ion-ios-checkmark-empty"></i>Item
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.home()" id="savePage-button11" class="button button-positive button-block">Home Page</a>
  </ion-content>
</ion-view>