<ion-view title="Self-Creation Recipe" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="selfCreationRecipe-button-bar1" class="button-bar"></div>
    <div>
      <a style="display:block;" ui-sref="menu.recipejaz()">
        <img src="img/VIweaMMFRlmfvRWtq9Pn_8936471015_c75fcf2f8b_b.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <form id="selfCreationRecipe-form20" class="list">
      <ion-item class="item-icon-left h1" id="selfCreationRecipe-list-item125">
        <i class="icon ion-android-bulb"></i>Directions</ion-item>
      <ion-item id="selfCreationRecipe-list-item122">Step 1:</ion-item>
      <ion-item id="selfCreationRecipe-list-item123">Step 2:</ion-item>
      <ion-item id="selfCreationRecipe-list-item124">Step 3:</ion-item>
      <div class="spacer" style="width: 300px; height: 12px;"></div>
      <ion-list id="selfCreationRecipe-list22">
        <ion-item class="item-icon-left h1" id="selfCreationRecipe-list-item126">
          <i class="icon ion-egg"></i>Ingredients</ion-item>
      </ion-list>
      <ion-toggle toggle-class="toggle-positive" id="selfCreationRecipe-toggle1">Egg</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="selfCreationRecipe-toggle2">Meat</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="selfCreationRecipe-toggle3">Fishball</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="selfCreationRecipe-toggle4">Onion</ion-toggle>
      <a ui-sref="menu.savePage()" id="selfCreationRecipe-button24" class="button button-positive button-block">Save</a>
    </form>
  </ion-content>
</ion-view>