<ion-view title="Shopping Rewards" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="shoppingRewards-list14">
      <ion-item class="item-thumbnail-left" id="shoppingRewards-list-item80">
        <img src="img/fXwprSe8QaCY9Y7oRR8c_fairprice.png">
        <h2>$10 voucher at NTUC</h2>
        <p>150 points to get $10 off </p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="shoppingRewards-list-item81">
        <img src="img/wNooM9rRdywFJoi1rShQ_coldstorage.png">
        <h2>$10 voucher at Cold Storage</h2>
        <p>150 points to get $10 off</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="shoppingRewards-list-item82">
        <img src="img/43bsOIDgQFmpPuwS33BE_giant.png">
        <h2>$10 voucher at Giant</h2>
        <p>150 points to get $10 off</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="shoppingRewards-list-item83">
        <img src="img/h8TJAdvuTDGB6plQ06Ce_shengsiong.png">
        <h2>$10 voucher at Sheng Siong</h2>
        <p>150 points to get $10 off</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>