<ion-view title="Western Cuisine" id="page21">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="westernCuisine-form13" class="list">
      <label class="item item-input" id="westernCuisine-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Fish n Chips">
      </label>
      <div>
        <img src="img/nnXbv5GSgzvpOMm7FFAg_fish.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <ion-item class="item-icon-left h1" id="westernCuisine-list-item128">
        <i class="icon ion-android-bulb"></i>Directions</ion-item>
    </form>
    <div id="westernCuisine-markdown22" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">Heat oil in a deep fryer to 365 degrees F (185 degrees C). Rinse fish, pat dry, and season with salt and pepper.</p>
        </li>
        <li>
          <p style="color:#000000;">Combine flour, garlic powder, paprika, 2 teaspoons salt, and 2 teaspoons pepper. Stir egg into dry ingredients. Gradually mix in beer until a thin batter is formed. You should be able to see the fish through the batter after it has been dipped.</p>
        </li>
        <li>
          <p style="color:#000000;">Dip fish fillets into the batter, then drop one at a time into hot oil. Fry fish, turning once, until both sides are golden brown. Drain on paper towels, and serve warm.</p>
        </li>
      </ol>
    </div>
    <form id="westernCuisine-form14" class="list">
      <ion-item class="item-icon-left h1" id="westernCuisine-list-item129">
        <i class="icon ion-egg"></i>Ingredients</ion-item>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <div id="westernCuisine-markdown20" class="show-list-numbers-and-dots">
        <ul>
          <li>
            <p style="color:#000000;">2 quarts vegetable oil for frying</p>
          </li>
          <li>
            <p style="color:#000000;">8 (4 ounce) fillets codsalt and pepper to taste1 cup all-purpose flour</p>
          </li>
          <li>
            <p style="color:#000000;">2 tablespoons garlic powder</p>
          </li>
          <li>
            <p style="color:#000000;">2 tablespoons paprika2 teaspoons salt</p>
          </li>
          <li>
            <p style="color:#000000;">2 teaspoons ground black pepper</p>
          </li>
          <li>
            <p style="color:#000000;">1 egg, beaten</p>
          </li>
          <li>
            <p style="color:#000000;">1 (12 fluid ounce) can or bottle beer</p>
          </li>
        </ul>
      </div>
      <a ui-sref="menu.cart()" id="westernCuisine-button14" class="button button-positive button-block">Add to grocery list</a>
    </form>
  </ion-content>
</ion-view>